<div class="loading spin" ng-show = "working"></div>

<div ng-hide="working">

  <div class="search-bar text-center">
      <button type="submit" class="btn btn-default">
        <i class="glyphicon glyphicon-star-empty"></i>
      </button>
    <input class="input" 
           placeholder="Filter your projects" 
           type="text"
           ng-model="projectSearch.name">
      <button type="submit" class="btn btn-default" ng-click="refresh()">
        <i class="glyphicon glyphicon-refresh" ng-class="{spin: refreshing}" disabled="refreshing"></i>
      </button>
  </div>

  <accordion close-others="true">
    <accordion-group ng-repeat='project in $parent.filteredProjects = ( projects | filter:projectSearch |limitTo: pageLimit() )' is-open="project.open" >
      <accordion-heading >
        <div ng-click="showProject(project)">
          {{project.owner}}/{{project.name}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': project.open, 'glyphicon-chevron-right': !project.open}"></i>
        </div>
      </accordion-heading>

      <ol class="breadcrumb text-center">
        <li class="active">
          <i class="glyphicon glyphicon-star"></i>
<!--      <a href="#" tooltip-placement="bottom" tooltip="Star this project">
          </a> -->
        </li>
        <li class="active">
          <i class="glyphicon glyphicon-bell"></i>
<!--      <a href="#"tooltip-placement="bottom" tooltip="Settings">
          </a> -->
        </li>
        <li class="active">
          <a href="#" tooltip-placement="bottom" target="_blank" tooltip="View on Semaphore"> 
            <i class="glyphicon glyphicon-new-window"></i>
          </a> 
        </li>
      </ol>

      <table class="table">
          <tbody>
            <tr class="{{branch.result}} branch" ng-repeat='branch in project.branches'>

              <td>
                <a href="{{branch.branch_url}}" target="_blank"> {{branch.branch_name}}</a>
              </td>
              <td class="text-right small">
                <a href="{{branch.build_url}}" target="_blank">{{branch.finished_at | fromNow}}</a>
              </td>
              
            </tr>

            <ol class="breadcrumb text-center" ng-hide="project.branches.length">
              <li class="active">This project have no branches</li>
            </ol>

          </tbody>
        </table>

    </accordion-group>

    <ol class="breadcrumb text-center" ng-hide="filteredProjects.length">
      <li class="active">No projects found</li>
    </ol>

  </accordion>

  <div class="text-center more">
    <button type="button"
            class="btn btn-default"
            ng-show="morePages"
            ng-click="nextPage()"> Show more</button>
  </div>
</div>
