html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F9F9F4;
  font-size: 16px;
  color: #4a4a4a;
  overflow: auto;
}

.main{
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
  padding: 0 0 70px;
  overflow: hidden;
}
.token-label{
  padding: 70px 40px 40px;
  text-align: left;
  font-weight: bold;
  color:#999;
}
.token-label h1{font-size: 52px; }
.green{color: #8FB347;}

.input{
  padding: 6px 12px;
  color: #555;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-align: center;
  height: 34px;
}
.token-input{
  width: 80%;
  height: 47px;
}
.token-help{
  padding-top: 10px;
  opacity: 0.8;
}
.logo{width: 70px;}
.loading{
  font-size: 80px;
  display: block !important;
  text-align: center;
  line-height: 6em !important;
  opacity: 0.6;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.gray { color:  #CCC !important;}

.branch a {color: #4A4A4A; }

.passed {
  background-color: #E6F4CA;
  border-color: #CFE0AE;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.failed {
  background-color: #F4D9CA;
  border-top: 1px solid #E7CABB;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
}

.queued {
  background-color: #EEE2AA;
  border-color: #DACF9C;
}
.pending{
  background-color: #DDEFF8;
  border-top: 1px solid #BACFDC;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
}
.more{margin: 20px 0 30px 0; }
.search-bar{
  position: relative;
  padding: 10px;
  vertical-align: middle;
}
.search-bar input{
  width: 100%;
  padding-left: 39px;
}

.search-bar button{
  position: absolute;
  z-index: 96;
}

.footer .logo{opacity: 0.3; }
.footer .logo:hover{opacity: 1; }
.footer div{padding: 10px;}

/* Override bootstrap stuff */

a {color: #999; }
a:hover {color: #333; }

.container{
 padding: 25px 0; 
 max-width: 730px;
 height: 100%;
}

.panel {border-radius: 0 !important;}
.panel-heading {
  padding: 10px;
  background-color: #F2F2E9 !important;
}
.panel-title a {display: block; }
.panel-body {padding: 0 !important; }

.alert{
  position: absolute;
  width: 100%;
  -webkit-user-select: text;
  z-index:999;
  text-align: center;
}

.table, .breadcrumb {
  margin-bottom: 0 !important;
  background-color: #F2F2E9 !important;
  border-radius: 0;
}

.btn-default.active {
  background-color: rgba(0, 0, 0, 0);
  box-shadow:none
}

.btn:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border-color: #CCC;
  box-shadow: none;
}

.ng-hide {display: none !important; }

/* Mac OS X like widnow frame */

.window {
  margin: 0 auto;
  text-align: left;
  position: absolute;
}
nav{
  height: 30px;
  background-color: inherit;
  width: 100%;
  padding: 3px 10px;
  position: fixed;
  -webkit-app-region: drag;
  z-index: 99;
}
nav h1{
  font-size: 13px;
  position: relative;
  margin: 2px 2px 3px 2px;
  z-index: 999;
  display: inline-block;
  float: right;
}
.nav-btn {
  display: inline-block;
  margin: 2px 2px 3px 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  position: relative;
  z-index: 999;
}

.nav-btn:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.nav-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
  text-align: center;
  font-weight: bold;
}

.nav-close {background: #FD4E4E; }
.nav-close:hover:after {
  content: "x";
  top: -3px;
  color: #8B0000;
  font-size: 11px;
}
.nav-minimize {background: #F3BB55; }
.nav-minimize:hover:after {
  content: "-";
  top: -7px;
  color: #B8860B;
}
.nav-maximize {background: #96D16F; }
.nav-maximize:hover:after {
  content: "+";
  top: -7px;
  color: #006400;
}
.blur .nav-btn{background: #eee;}
