<i class="fa fa-cog loading green" ng-show="working"></i>

<alert ng-repeat="alert in getAlerts()"
       type="alert.type"
       close="closeAlert($index)">{{alert.msg}}</alert>

<div ng-hide="working">

  <div class="search-bar text-center">
      <button type="submit" 
              ng-click="toggleStarFilter()"
              class="btn btn-default"
              ng-class="{true:'active'}[filterStared]"
              tooltip-placement="bottom"
              tooltip="Filter starred">
        <i class="fa"
           ng-class="{true:'fa-star', false:'fa-star-o'}[filterStared]"></i>
      </button>
    <input class="input" 
           placeholder="Filter projects" 
           type="text"
           ng-model="projectSearch.name">
  </div>

  <accordion close-others="true">
    <accordion-group ng-repeat='project in $parent.filteredProjects = ( projects | filterStarred:this | filter:projectSearch | limitTo: pageLimit() )' is-open="project.open" >
      <accordion-heading >
        <div ng-click="toggleOpenProject(project.hash_id)">
          {{project.owner}} / {{project.name}}
          <i class="pull-right fa" ng-class="{'fa-chevron-down': project.open, 'fa-chevron-right': !project.open}"></i>
        </div>
      </accordion-heading>

      <ol class="breadcrumb text-center">
        <li>
          <a href="#" tooltip-placement="bottom" tooltip="Star project"
             ng-click="toggleStar(project); $event.preventDefault()">
            <i class="fa"
               ng-class="{true:'fa-star', false:'fa-star-o gray'}[isStarred(project)]"></i>
          </a>
        </li>
        <li>
          <a href="#" tooltip-placement="bottom" tooltip="Notifications"
             ng-click="toggleNotification(project); $event.preventDefault()">
            <i class="fa"
               ng-class="{true: 'fa-bell', false:'fa-bell-o gray'}[haveNotification(project)]"></i>
          </a> 
        </li>
        <li>
          <a href="https://github.com/{{project.owner + '/' + project.name}}" tooltip-placement="bottom" target="_blank" tooltip="View on GitHub"> 
            <i class="fa fa-github"></i>
          </a> 
        </li>
        <li>
          <a href={{project.html_url}} tooltip-placement="bottom" target="_blank" tooltip="View on Semaphore"> 
            <i class="fa fa-gears"></i>
          </a> 
        </li>
      </ol>
      </ol>

      <table class="table">
          <tbody>
            <tr class="{{branch.result}} branch" ng-repeat="branch in project.branches | orderBy:'branch_name'">

              <td>
                <i class="fa fa-angle-double-right" ng-show="branch.branch_name == 'master'"></i>
                <a href="{{branch.branch_url}}" target="_blank">
                  {{branch.branch_name}}
                </a>
              </td>
              <td class="text-right small">
                <a href="{{branch.build_url}}" target="_blank">
                  {{branch.finished_at || branch.started_at | fromNow}}
                </a>
              </td>
              
            </tr>

            <ol class="breadcrumb text-center" ng-hide="project.branches.length">
              <li class="active">This project have no branches</li>
            </ol>

          </tbody>
        </table>

    </accordion-group>

    <figure ng-hide="filteredProjects.length">
      <h1 class="token-label">
        Project </br>
        you seek </br>
        can't be located.
      </h1>
    </figure>

  </accordion>

  <div class="text-center more">
    <button type="button"
            class="btn btn-default"
            ng-show="morePages"
            ng-click="nextPage()"> Show more</button>
  </div>
</div>
