<!DOCTYPE html>
<html ng-csp="">

<head>
  <meta charset="utf-8">
  <title>Semaphore Flag</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="window">

  <nav ng-controller="navigationController">
    <a ng-click="close()" class="nav-btn nav-close"></a>
    <a ng-click="minimize()" class="nav-btn nav-minimize"></a>
    <a ng-click="maximize()" class="nav-btn nav-maximize"></a>
    <h1 ng-show="isProjectsCtrl()" ng-click="refresh()">
      <i class="fa fa-refresh" ng-class="{'fa-spin': refreshing()}" disabled="refreshing()"
      tooltip="Refresh" tooltip-placement="left"></i>
    </h1>
  </nav>

  <div class="container">

    <div ng-view class="main"></div>

    <div class="footer text-center">
      <a href="https://semaphoreapp.com" target="_blank">
        <img alt="Semaphore-logo" src="img/logo.png" class="logo">
      </a>

      <div class="small">
        <a href="https://github.com/rastasheep/semaphore-flag" target="_blank">About</a>
        ·
        <a href="https://github.com/rastasheep/semaphore-flag#faq" target="_blank">FAQ</a>
        ·
        <a href="https://github.com/rastasheep/semaphore-flag/issues?state=open" target="_blank">Issues</a>
        ·
        <a href="https://twitter.com/semaphoreapp" target="_blank">Status</a>
      </div>
    </div>

  </div>

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>
  <script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/moment/min/moment.min.js"></script>
  <script src="lib/pusher/dist/pusher.min.js"></script>
  <script src="lib/js-md5/js/md5.min.js"></script>

  <script src="js/app.min.js"></script>

</body>
</html>